.Quiz__bullets {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 768px) {
    gap: 7px;
  }

  span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      font-size: 16px;
    }

    &.active {
      background-color: var(--main-yellow);
    }
  }
}
