.Quiz {
  padding: 40px 20px;

  .Quiz__container {
    background-color: var(--main-color2);
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    padding: 20px;
  }

  .Quiz__question {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .Quiz__answers {
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .Quiz__answer {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    overflow-wrap: break-word;

    &:not(:last-child) {
      border-bottom: 2px solid var(--main-color2);
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &.active {
      background-color: var(--main-color3-hover);
      border: 2px solid var(--main-color3);
    }

    &:hover {
      background-color: var(--main-color3-hover);
    }
  }

  .Quiz__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .Quiz__btn {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color3);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;

    &:hover {
      filter: contrast(0.5);
    }
  }
}
