.Quiz {
  background-color: #eee;
  box-shadow: var(--main-shadow);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .Quiz__answers {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    p {
      padding: 20px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid var(--main-color);
      }

      &:hover {
        transform: translateX(5px);
        background-color: var(--main-color-hover);
      }

      &.active {
        transform: translateX(5px);
        background-color: var(--main-color);
        color: white;

        span {
          background-color: var(--main-color);
          border: 3px solid white;
        }
      }
    }
    p:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  .Quiz__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Quiz__next-btn {
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    font-size: 24px;
    display: flex;
    gap: 5px;

    &:hover {
      box-shadow: var(--main-shadow);
      span {
        transform: translateX(5px);
      }
    }
  }
}
