/*########## start global ##########*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

body {
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
:root {
  --main-color: rgb(22 149 163);
  --main-color-hover: rgba(22, 149, 163, 0.238);
  --main-shadow: 0px 0px 10px #00000063;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 600;
}
